.DetailsPage {
    width: 100%;
    position: relative;
}

.thirty {
    width: 30%;
    display: inline-block;
}

.seventy {
    width: 65%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}